<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= "/" %>">BABULES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--        Categories-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><a class="dropdown-item" href="/categories/<%= category.id %>"><%= category.name %></a></li>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/categories">All categories</a></li>
          </ul>
        </li>
<!--        Activities-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activities
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Activity 1 (Витрата) </a></li>
            <li><a class="dropdown-item" href="#">Activity 2 (Дохід) </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/operations">Усі транзакції</a></li>
          </ul>
        </li>
<!--        Допомога-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Допомога
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Допомога 1</a></li>
            <li><a class="dropdown-item" href="#">Допомога 2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
<!--        admin-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            👤 admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">admin 1</a></li>
            <li><a class="dropdown-item" href="#">admin 2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
