.pie_chart
  %canvas#myChart{:style => "display: block; box-sizing: border-box; height: 500px; width: 500px;"}
%script{:src => "https://cdn.jsdelivr.net/npm/chart.js"}
:javascript
  const ctx = document.getElementById('myChart');

  const data = {
      labels: #{raw @categories_names},
      datasets: [{
          label: '#{t('.expenses_by_period')}',
          data: #{@total_amounts},
          backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)',
              'rgb(0,0,128)',
              'rgb(0,128,128)',
              'rgb(128,0,128)',
              'rgb(128,128,0)',
              'rgb(128,0,0)'
          ],
          hoverOffset: 4
      }]
  };

  const config = {
      type: 'pie',
      data: data,
      options: {
          responsive: true
      },
      plugins: []
  }

  new Chart(ctx, config);
