label.date_choose_label {
  width: 70px;
  display: block;
  float: left;
}

input#date_from,
input#date_to {
  width: 116px;
}

table.report-table {
  border-collapse: separate;
  border-spacing: 15px 5px;
}

tfoot {
  background-color: #f0f3d9;
}
