- provide :page_title, t('.new_category')
- currently_at t('.new_category')

%h1= t('.new_category')
= render "form", category: @category
%br/
%div
  = link_to t('shared.back_to_categories'), categories_path
