%button.reset-button.btn.btn.btn-info{:type => "reset"}
  = link_to t('.clear'), reset, {:style=>'', :class => "button-reset"}
= f.submit t('.generate'), formaction: path, :class => 'btn btn-primary'
