<button type="reset" class="reset-button btn btn btn-info"> <%= link_to "Очистити", reset, {:style=>'', :class => "button-reset"} %></button>
<%= f.submit "Згенерувати", formaction: path, :class => 'btn btn-primary' %>