<button type="reset" class="reset-button btn btn btn-info"> <%= link_to t('.clear'), reset, {:style=>'', :class => "button-reset"} %></button>
<%= f.submit t('.generate'), formaction: path, :class => 'btn btn-primary' %>