<%= form_with url: "/reports/create_form_by_date", method: :get do |f| %>
  <%= render partial: 'reports/date_choose' %>

  <div class="mt-2">
    <%= render partial: "reports/buttons_accept", locals: {f: f, path: reports_report_by_dates_path, reset: reports_create_report_by_dates_path} %>
  </div>
<% end %>
