<%= form_with url: "/reports/create_form_by_date", method: :get do |f| %>
  <%= render partial: 'reports/date_choose' %>

  <div>
    <button type="reset" class="reset-button btn btn btn-info"> <%= link_to "Очистити", reports_create_report_by_dates_path, {:style=>'', :class => "button-reset"} %></button>
    <%= f.submit "Згенерувати", formaction: reports_report_by_dates_path, :class => 'btn btn-primary'  %>
  </div>
<% end %>
