= form_with url: "/reports/create_report_by_category", method: :get do |f|
  .mb-3
    = select("operation", "category_id", Category.pluck(:name, :id), |
      {:prompt => t('.category')})                                   |
  .mt-2
    = render partial: "reports/buttons_accept", locals: {f: f, path: reports_report_by_category_path, reset: reports_create_report_by_category_path}
