<div class="col-lg-3">
  <%= form_with url: "/reports/create_form_by_date", method: :get, class: "mt-2 d-flex flex-column justify-content-between gap-2 w-200" do |f| %>
    <%= render partial: 'reports/date_choose' %>

    <div class="d-flex d-flex justify-content-between">
      <%= render partial: "reports/buttons_accept", locals: {f: f, path: reports_report_by_dates_path, reset: reports_create_report_by_dates_path} %>
    </div>
  <% end %>
</div>

