<%# if @operations %>
  <%# @operations.each do |op| %>
<!--    <p><%#= op.description %></p>-->
  <%# end %>
<%# end %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <canvas id="myChart" height="600px" width="600px"></canvas>
</div>

<script>
    const ctx = document.getElementById('myChart');

    const data = {
        labels: <%= raw @dates %>,
        datasets:[{
            label:'Витрати по датам',
            data: <%= @amounts %>,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    }

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: false
        },
        plugins: []
    }

    new Chart(ctx, config);
</script>