<div style="text-align: center">
    <h1>Витрати по категорії <%= @category %></h1>
</div>

<%= render partial: 'reports/chart' %>

<%= render partial: "shared/operations_list" %>

<%= paginate @operations_paginated %>
