- provide :page_title, t('.editing_operation')
- currently_at t('.editing_operation')

%h1= t('.editing_operation')
= render "form", operation: @operation
%br/
%div
  = link_to t('.show_this_operation'), @operation
  |
  \#{link_to t('shared.back_to_operations'), operations_path}
