- provide :page_title, t('.new_operation')
- currently_at t('.new_operation')

%h1= t('.new_operation')
= render "form", operation: @operation
%br/
%div
  = link_to t('shared.back_to_operations'), operations_path
